//FONTS
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Roboto+Condensed:wght@300;400&display=swap');
$headerFont: 'Oswald', sans-serif;
$textFont: 'Roboto Condensed', sans-serif;

//COLORS
$white: #cccccc;
$black: #333333;
$gray: #D8D8D7;
$blue: #0066cc;
$lightBlue: #6699cc;
$buttonHover: #007cf8;


